
@{
	ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<form asp-controller="Support" asp-action="Contact" method="post">
	<div class="form-group">
		<label for="exampleFormControlInput1">Email address</label>
		<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
	</div>

	<div class="form-group">
		<label for="exampleFormControlTextarea1">Example textarea</label>
		<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="query"></textarea>
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>